body {
  justify-content: center;
  background-color: #5f85b8;

  --clr-button: #2e2d2d;
  --clr-window: #ffffff;
  --clr-button-bracket: #0a9e96;
  --clr-button-removal: #ff3c00;
  --clr-button-text: #ffffff;
  --clr-button-ele: #ffb22c;
  --clr-button-trig: #0a9e96;
  --clr-button-constant: #2e2d2d;
  --clr-button-other: #0a9e96;
}

.App {
  position: absolute;
  height: fit-content;
  width: 350px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px black solid;
}

.input-window-container,
.input-window,
.output-window {
  background-color: var(--clr-window);
  font-size: 1.8rem;
}

.input-window-container {
  height: 1px;
  min-height: 8rem;
  border: 1px black solid;
}

form {
  height: 100%;
}

.input-window {
  height: 100%;
  width: 100%;
  padding: 0px;
  border: 0px;
  resize: none;
  outline: 0;
}

.output-window {
  border: 1px black solid;
  height: 3rem;
  padding: 0.7rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(3rem, 1fr));
}

.buttons button {
  background-color: var(--clr-button);
  color: var(--clr-button-text);
  border: 1px solid black;
  font-size: 1.8rem;
  cursor: pointer;
}

.buttons .bracket-button {
  background-color: var(--clr-button-bracket);
}

.buttons .removal-button {
  background-color: var(--clr-button-removal);
}

.buttons .elementary {
  background-color: var(--clr-button-ele);
}

.buttons .trig {
  background-color: var(--clr-button-trig);
}

.buttons .constant {
  background-color: var(--clr-button-constant);
}

.buttons .other {
  background-color: var(--clr-button-other);
}
